@import '../../../assets/styles/global-styles';

.text-label{
  width: 100px;
}

.div-form{
  display: inline-flex;
  margin-top: 15px;
  width: 100%;

  input{
    width: 100%;
    line-height: 20px;
    padding: 0 10px 0 10px;

    &.error{
      &::-webkit-input-placeholder {
        color: $border-input-error-color;
      }
    }
  }
}

button[type="submit"]{
  margin-top: 15px;
  background-color: $button-background-color;
  color: $button-text-color;
  width:100%;
}

div.error{
  text-align: right;
}